<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Home</title>
</head>
<body>
    <h1> This is HTML in Django. Hello </h1>

    <form action="">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="address">Address</label>
        <input type="text" name="address" id="address">
        <button type="submit">Submit</button>
    </form>
    Username is <strong>{{ username_data }}</strong> <br>
    Address is <strong>{{ address_data }} </strong>  <br>
</body>
</html>